<!DOCTYPE html>
<html>
<head>
    <title>ZelleMail Summary Time</title>
</head>
<body>
    <h1>Welcome.</h1>
    <p>Please choose your Zelle summary time boundries.</p>

    <label for="start-date">Choose a zelle summary start date:</label>
    <input type="date" id="start-date" name="start-date">

    <label for="end-date">Choose a zelle summary end date:</label>
    <input type="date" id="end-date" name="end-date">

    <form action="Generate" method="post">
        <button type="submit">Generate Summary</button>
    </form>
</body>
</html>